<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @product.image %>
        <div class="table-responsive">
          <table class="table">
            <tboby>
              <tr>
                <td><strong>Price:</strong></td>
                <td>$<%= @product.price %></td>
              </tr>
              <tr>
                <td><strong>Item:</strong></td>
                <td><%= @product.name %></td>
              </tr>
              <tr>
                <td><strong>Category:</strong></td>
                <td><%= @product.category.name %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @product.description %></td>
              </tr>
            </tboby>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>





<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
